<div class='stencil-admin'>
  <div class='info' style='float:left; width: 150px'>
    <%= stencil.name %><br/>
    <%= button_to("delete", stencil_path(stencil), method: 'delete', confirm: "Really?") %>
  </div>
  <% @styles.each do |style| %>
    <div class='float:left;'>
      <% renderer = stencil.renderer_for(style) %>
      
      <div style="float:left; width: 290px">
        <div>
          <% if renderer %>
            <% label = (renderer.style_id == style.id) ? style.name : "#{style.name} (#{renderer.style.name})" %>
            <%= link_to(label, edit_stencil_renderer_path(stencil.id, renderer, style_id: style.id)) %>
          <% else %>
            <%= link_to(style.name, new_stencil_renderer_path(stencil.id, style_id: style.id)) %><br/>
          <% end %>
        </div>
        
        <%= render partial: 'stencil', locals: {
                        stencil: stencil,
                        renderer: renderer, 
                        style: style,
                        canvas_width: 100,
                        canvas_height: 100} %>
      </div>
    </div>
  <% end %>
</div>
<div style='clear:both'></div>