<!DOCTYPE html>
<html>
<head>
  <title>Neneboard</title>
  <%= stylesheet_link_tag :all %>
  <%= include_javascripts :common %>

  <!--<%= javascript_include_tag :defaults %>-->
  <!--<%= javascript_include_tag 'extensions' %>-->
  <!--<%= javascript_include_tag 'styles' %>-->
  <!--<%= javascript_include_tag 'tool' %>-->
  <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

</body>
</html>
